<html>
  <head>
    <meta charset="utf-8">
    <title>Dot game</title>
     <link rel="stylesheet" href="main.css">

  </head>
  <body>

    <div class="container">

    	<input id = "btnRestart" type="submit" value="Restart"/>
    	<input id = "btnPause" type="submit" value="Pause"/>
		<h2 id="score">Pop all the bubbles!</h2>
    </div>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.2/web-animations.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/just-animate/1.1.0/just-animate-all.min.js"></script>
  <script src="index.js" type="text/javascript"></script>
</html>
